# Allow EC2 instances access to unlimited CPU credits in bursts.
#
# This should help prevent the process from stalling during expensive operations,
# Such as building the Docker container.
#
# See https://aws.amazon.com/ec2/instance-types/#burst
# Solution from https://stackoverflow.com/a/49735940/1772120

commands:
  set-instance-credit-unlimited:
    command: |
      aws ec2 modify-instance-credit-specification --region $(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document | jq .region -r) --instance-credit-specification '[{"InstanceId": "'"$(wget -q -O - http://169.254.169.254/latest/meta-data/instance-id)"'","CpuCredits": "unlimited"}]'
