# Run the NPM migration script on one of the application instances during deployments
container_commands:
  01_migrate:
    command: "touch /tmp/leader_only"
    leader_only: true
# Gracefully handle and notify of failed migrations
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/10_migrate_db.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/leader_only ]
      then
        rm /tmp/leader_only
        . /opt/elasticbeanstalk/hooks/common.sh

        EB_SUPPORT_FILES=$(/opt/elasticbeanstalk/bin/get-config container -k support_files_dir)

        EB_CONFIG_DOCKER_ENV_ARGS=()

        while read -r ENV_VAR; do
          EB_CONFIG_DOCKER_ENV_ARGS+=(--env "$ENV_VAR")
        done < <($EB_SUPPORT_FILES/generate_env)

        echo "Running migrations for aws_beanstalk/staging-app"
        docker run --rm "${EB_CONFIG_DOCKER_ENV_ARGS[@]}" aws_beanstalk/staging-app db:migrate up

        if [ $? -ne 0 ]
        then
          echo "Database migration failed" >&2
          exit 1
        fi
      else
        echo "Skipping migrations..."
        echo "(Migrations are only run on the leader instance during environment creation or deployment.)"
      fi
